*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
@keyframes appear{
    from{
      opacity: 0;
      transform: translateX(-100px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  /* body{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  } */
    .section  {
    animation: appear 10s linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
  }
html{
    scroll-behavior: smooth;
}
.fw-light{
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-weight: bold !important; 
  
 }



 
 .hero-image {


 background-image:  url("./imgs/hero-img.jpeg") ;
 /* background-color:aquamarine ; */
 height: 100vh;

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 /* position: relative; */
 
} 

h1, h2, h3 {
    margin-top: 0 !important;
}
 /* nav bar toogler button  */
 /* nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
} */
/* nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
/* nav li{
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
} */
/* nav a:hover{
    background-color: #f0f0f0;
 }
 nav li:first-child{
    margin-right: auto;
 } */
 /* .sideBar{
    position:fixed ;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

 } */
 /* .sideBar li{
    width: 100%;
 }
 .sideBar a{
    width: 100%;
 }
 .menuBtn{
    display: none;
 } */
 /* @media(max-width: 700px){
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 500px){
  .sideBar{
    width: 100%;
  }
  .menuBtn{
    display: block;
  }
} */

/* hero section */
/* .navbar{
    margin-top: -49px;
    
} */
.corlib{
    
    color: rgba(80, 75, 75, 0.5);
}
.btn{
    background-color: transparent !important;
    border: 1px solid white !important;
    width: 50%;
    height: 50px !important;
    font-size: 23px !important;
}
 /* welcome 2  */

 .space{
    height: 150px;
    /* background-color: black; */
 }
 .fa-solid{
            width: 50px;
            
 }
 .welcome-txt{
    font-weight:900;
 }
 .text{
    color: #65c0ba; 
    font-size: 28px;
    font-weight: 600;
    
 }
 .asd{
    /* display: inline-block !important; */
    width: 20px !important;

 }
 .pqr{
    width: 70% !important;
 }

 /* experience section */

 .heading{
    font-weight: bolder;
    color: #000000;
    
 }
 .lead{
    font-size: 18px !important;
 }
 .d-block{
    text-align: center;
 }



/* slider */

.slider-container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    object-fit: cover;
  }
  
  button {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

/* blog section */

.blog-heading{
    padding-top: 10%;
}
a{
    color: #000000 !important ;
    text-decoration: none !important;
}
a:hover{
    background-color:  palevioletred;
    opacity: 0.2;
}
.blog{
    font-weight: bold;

}

/* customer-section */

.customer{
    padding-top: 20%;
    background-color: #F8F9FA;
    
}

/* destination-section */
.heading2{
    padding-top: 70px;
}
.img-fluid{
    /* height: 50% !important;
    width: 80% !important; */
}
.destination-heading{
    font-weight: bold;
    font-size: 20px;
    
}
.destination-img{
    width: 100% !important;
    height: 10%;

}

/* footer */
.abc{
    color: #fff !important;
}
.footer-section{
    background-color: #1A1A1A;
}
 .list-unstyled>li>a{
    color: #FFFFFFB3 !important ;

} 


.padding{ 
    padding-top: 10% !important;
    align-items: center;
    justify-content: center;
} 

